.task-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  position: relative;
  left: -20px;
  width: 100%;
}

:host ::ng-deep th.mat-header-cell {
  font-weight: bold;
}

table.mat-elevation-z8 {
  width: 100%;
  margin-top: 18%;
}

@media (max-width: 600px) {
  .task-list-container {
    padding: 10px;
  }

  table.mat-elevation-z8 {
    font-size: 0.8em;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .task-list-container {
    padding: 15px;
  }

  table.mat-elevation-z8 {
    font-size: 0.9em;
  }
}

@media (min-width: 1025px) {
  .task-list-container {
    padding: 20px;
  }

  table.mat-elevation-z8 {
    font-size: 1em;
  }
}
