.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logout-button {
  align-self: flex-end;
  margin-bottom: 20px;
  font-size: 16px;
  padding: 10px 20px;
}

.task-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

app-new-task {
  flex: 1;
  max-width: 50%;
}

app-task-list {
  flex: 1;
  max-width: 50%;
}

/* Cambia la disposición de los elementos en pantallas más pequeñas */
@media (max-width: 768px) {
  .task-section {
    flex-direction: column;
    align-items: stretch;
  }

  app-new-task,
  app-task-list {
    max-width: 100%;
  }

  app-new-task {
    order: 1; /* Añade esto */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  app-task-list {
    order: 2; /* Añade esto */
  }
}

/* Cambia la disposición de los elementos en pantallas medianas */
@media (min-width: 769px) and (max-width: 1024px) {
  task-section {
    flex-direction: column;
    align-items: center; /* Añade esto */
    justify-content: center; /* Añade esto */
  }

  app-new-task,
  app-task-list {
    max-width: 100%;
  }

  app-new-task {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  app-task-list {
    order: 2;
  }
}

/* Cambia la disposición de los elementos en pantallas grandes */
@media (min-width: 1025px) {
  .task-section {
    flex-direction: row;
    align-items: flex-start;
  }

  app-new-task,
  app-task-list {
    max-width: 50%;
  }
}
