.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  margin: 0 auto;
}

.form-container mat-form-field,
.form-container mat-checkbox {
  width: 100%;
  margin-bottom: 20px;
}

.form-container button {
  display: block;
  margin: 0 auto;
}
