<div class="form-section form-container">
  <h2>Agregar nueva tarea</h2>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <mat-form-field appearance="fill">
      <mat-label>Nombre de la tarea</mat-label>
      <input
        matInput
        [(ngModel)]="task.title"
        #title="ngModel"
        name="title"
        required
      />
      <mat-error *ngIf="title.invalid && f.submitted">
        El nombre de la tarea es requerido.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Descripción de la tarea</mat-label>
      <textarea
        matInput
        [(ngModel)]="task.description"
        #description="ngModel"
        name="description"
        required
      ></textarea>
      <mat-error *ngIf="description.invalid && f.submitted">
        La descripción de la tarea es requerida.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Fecha de creación</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [(ngModel)]="task.createdAt"
        #createdAt="ngModel"
        name="createdAt"
        required
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="createdAt.invalid && f.submitted">
        La fecha de creación es requerida.
      </mat-error>
    </mat-form-field>

    <mat-checkbox [(ngModel)]="task.status" name="status" color="primary"
      >Completado</mat-checkbox
    >

    <button mat-raised-button color="primary" type="submit">
      {{ isEditing ? "Editar tarea" : "Agregar tarea" }}
    </button>
  </form>
</div>
