<div class="form-section form-container">
  <h2>Agregar nueva tarea</h2>
  <form (submit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Nombre de la tarea</mat-label>
      <input matInput [(ngModel)]="task.title" name="title" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Descripción de la tarea</mat-label>
      <textarea
        matInput
        [(ngModel)]="task.description"
        name="description"
        required
      ></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Fecha de creación</mat-label>
      <input
        matInput
        [(ngModel)]="formattedDate"
        name="creationDate"
        type="text"
        required
      />
    </mat-form-field>

    <mat-checkbox [(ngModel)]="task.status" name="status"
      >Completado</mat-checkbox
    >

    <button mat-raised-button color="primary" type="submit">
      {{ isEditing ? "Editar tarea" : "Agregar tarea" }}
    </button>
  </form>
</div>
